


<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>阿里百秀-发现生活，发现美!</title>
  <link rel="stylesheet" href="public/assets/css/style.css">
  <link rel="stylesheet" href="public/assets/vendors/font-awesome/css/font-awesome.css">
  {{block 'head'}}  {{/block}}
</head>
<body>
 
  <div class="wrapper">
    {{include '../includes/nav.html'}}
  

    {{include '../includes/header.html'}}
    {{include '../includes/indexasides.html'}}

    {{block 'body'}}  {{/block}}
   
    {{include '../includes/footer.html'}}
  </div>
  <script src="public/assets/vendors/jquery/jquery.js"></script>
  <script src="public/assets/vendors/swipe/swipe.js"></script>
  {{block 'script'}}  {{/block}}
  <script>
    //
    var swiper = Swipe(document.querySelector('.swipe'), {
      auto: 3000,
      transitionEnd: function (index) {
        // index++;

        $('.cursor span').eq(index).addClass('active').siblings('.active').removeClass('active');
      }
    });

    // 上/下一张
    $('.swipe .arrow').on('click', function () {
      var _this = $(this);

      if(_this.is('.prev')) {
        swiper.prev();
      } else if(_this.is('.next')) {
        swiper.next();
      }
    })
  </script>
</body>
</html>
